.profile__about{
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  color: white;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 350px;
}

@media screen and (max-width: 768px){
  .profile__about{
    font-size: 14px;
    line-height: 1.2;
    max-width: 200px;
  }
}
